[Desktop Entry]
Name=Firewall Configuration
Comment=Configure firewall rules
Exec=sudo gufw
Icon=gufw
Terminal=false
Type=Application
Categories=System;Settings;Security;
Keywords=firewall;ufw;security;
StartupNotify=true
