[Desktop Entry]
Comment=Install madOS to disk
Comment[es]=Instalar madOS en el disco
Exec=sudo /opt/mados-installer/mados-installer
Icon=system-software-install
Name=madOS Installer
Name[es]=Instalador madOS
StartupNotify=true
Terminal=false
Type=Application
Categories=System;Settings;
Keywords=install;setup;deploy;madOS;
