# Load partition table and file system modules
insmod part_gpt
insmod part_msdos
insmod fat
insmod iso9660
insmod ntfs
insmod ntfscomp
insmod exfat
insmod udf

# Use graphics-mode output
if loadfont "${prefix}/fonts/unicode.pf2"; then
    insmod all_video
    set gfxmode="auto"
    terminal_input console
    terminal_output console
fi

# Set default menu entry
default=arch
timeout=15
timeout_style=menu

# Get a human readable platform identifier
if [ "${grub_platform}" == 'efi' ]; then
    archiso_platform='UEFI'
elif [ "${grub_platform}" == 'pc' ]; then
    archiso_platform='BIOS'
else
    archiso_platform="${grub_cpu}-${grub_platform}"
fi

menuentry "madOS Live (%ARCH%, ${archiso_platform})" --class mados --class gnu-linux --class gnu --class os --id 'arch' {
    set gfxpayload=keep
    linux /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux-lts archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% archisolabel=%ARCHISO_LABEL% quiet splash intel_idle.max_cstate=1 i915.enable_dc=0 ahci.mobile_lpm_policy=1
    initrd /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux-lts.img
}

menuentry "madOS Live with Persistence (%ARCH%, ${archiso_platform})" --class mados --class gnu-linux --class gnu --class os --id 'arch-persist' {
    set gfxpayload=keep
    linux /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux-lts archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% archisolabel=%ARCHISO_LABEL% cow_label=mados-persist quiet splash intel_idle.max_cstate=1 i915.enable_dc=0 ahci.mobile_lpm_policy=1
    initrd /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux-lts.img
}

menuentry "madOS Live (Software Rendering) (%ARCH%, ${archiso_platform})" --class mados --class gnu-linux --class gnu --class os --id 'archsafe' {
    set gfxpayload=keep
    linux /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux-lts archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% archisolabel=%ARCHISO_LABEL% mados.force_software=1 quiet splash intel_idle.max_cstate=1 i915.enable_dc=0 ahci.mobile_lpm_policy=1
    initrd /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux-lts.img
}

menuentry "madOS Live (Safe Compat) (%ARCH%, ${archiso_platform})" --class mados --class gnu-linux --class gnu --class os --id 'archcompat' {
    set gfxpayload=keep
    linux /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux-lts archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% archisolabel=%ARCHISO_LABEL% nomodeset i915.enable_psr=0 i915.enable_dc=0 i915.enable_execlists=0 pcie_aspm=off nvme_core.default_ps_max_latency_us=0 ahci.mobile_lpm_policy=1 quiet splash
    initrd /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux-lts.img
}

menuentry 'System shutdown' --class shutdown --class poweroff {
    echo 'System shutting down...'
    halt
}

menuentry 'System restart' --class reboot --class restart {
    echo 'System rebooting...'
    reboot
}
