# Search for the ISO volume
search --no-floppy --set=archiso_img_dev --file "${iso_path}"
probe --set archiso_img_dev_uuid --fs-uuid "${archiso_img_dev}"

# Get a human readable platform identifier
if [ "${grub_platform}" == 'efi' ]; then
    archiso_platform='UEFI'
elif [ "${grub_platform}" == 'pc' ]; then
    archiso_platform='BIOS'
else
    archiso_platform="${grub_cpu}-${grub_platform}"
fi

# Set default menu entry
default=arch
timeout=15
timeout_style=menu

menuentry "madOS Live (%ARCH%, ${archiso_platform})" --class mados --class gnu-linux --class gnu --class os --id 'arch' {
    set gfxpayload=keep
    linux /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux-lts archisobasedir=%INSTALL_DIR% img_dev=UUID=${archiso_img_dev_uuid} img_loop="${iso_path}" quiet splash loglevel=3 rd.udev.log_level=3 udev.log_priority=3 rd.systemd.show_status=false systemd.show_status=false vt.global_cursor_default=0 plymouth.ignore-serial-consoles intel_idle.max_cstate=1 i915.enable_dc=0 ahci.mobile_lpm_policy=1
    initrd /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux-lts.img
}

menuentry "madOS Live with Persistence (%ARCH%, ${archiso_platform})" --class mados --class gnu-linux --class gnu --class os --id 'arch-persist' {
    set gfxpayload=keep
    linux /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux-lts archisobasedir=%INSTALL_DIR% img_dev=UUID=${archiso_img_dev_uuid} img_loop="${iso_path}" cow_label=mados-persist quiet splash loglevel=3 rd.udev.log_level=3 udev.log_priority=3 rd.systemd.show_status=false systemd.show_status=false vt.global_cursor_default=0 plymouth.ignore-serial-consoles intel_idle.max_cstate=1 i915.enable_dc=0 ahci.mobile_lpm_policy=1
    initrd /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux-lts.img
}

menuentry "madOS Live (Software Rendering) (%ARCH%, ${archiso_platform})" --class mados --class gnu-linux --class gnu --class os --id 'archsafe' {
    set gfxpayload=keep
    linux /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux-lts archisobasedir=%INSTALL_DIR% img_dev=UUID=${archiso_img_dev_uuid} img_loop="${iso_path}" mados.force_software=1 quiet splash loglevel=3 rd.udev.log_level=3 udev.log_priority=3 rd.systemd.show_status=false systemd.show_status=false vt.global_cursor_default=0 plymouth.ignore-serial-consoles intel_idle.max_cstate=1 i915.enable_dc=0 ahci.mobile_lpm_policy=1
    initrd /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux-lts.img
}

menuentry "madOS Live (Safe Compat) (%ARCH%, ${archiso_platform})" --class mados --class gnu-linux --class gnu --class os --id 'archcompat' {
    set gfxpayload=keep
    linux /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux-lts archisobasedir=%INSTALL_DIR% img_dev=UUID=${archiso_img_dev_uuid} img_loop="${iso_path}" nomodeset i915.enable_psr=0 i915.enable_dc=0 i915.enable_execlists=0 pcie_aspm=off nvme_core.default_ps_max_latency_us=0 ahci.mobile_lpm_policy=1 quiet splash loglevel=3 rd.udev.log_level=3 udev.log_priority=3 rd.systemd.show_status=false systemd.show_status=false vt.global_cursor_default=0 plymouth.ignore-serial-consoles
    initrd /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux-lts.img
}
