[Match]
Type=!loopback
[Network]
IPv6AcceptRA=no
IPv6PrivacyExtensions=no
ConfigureWithoutCarrier=no
DHCP=no
LinkLocalAddressing=no
[Link]
MACAddressPolicy=persistent
