general {
    col.active_border = rgba({{colors.primary.default.hex | replace(from="#", to="")}}ee) rgba({{colors.secondary.default.hex | replace(from="#", to="")}}ee) 45deg
    col.inactive_border = rgba({{colors.outline_variant.default.hex | replace(from="#", to="")}}aa)
}
