/home/madkoding/.local/share/opencode/worktree/b6a4149d916d73d806562c7f72ffd537fa35c641/mighty-nebula/airootfs/etc/systemd/system/network-wait-online.service