[Unit]
Description=madOS Timezone Auto-Detection
Documentation=https://github.com/madkoding/mad-os
After=systemd-remount-fs.service
Before=time-set.target
Before=systemd-timesyncd.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/mados-timezone-detect.sh
StandardOutput=journal
StandardError=journal
TimeoutSec=60
