[Unit]
Description=madOS OTA Update Timer (Daily Check)
Requires=mados-ota.service
After=network-online.target

[Timer]
OnBootSec=10min
OnUnitActiveSec=1d
Unit=mados-ota.service

[Install]
WantedBy=timers.target