[Unit]
Description=Set mados user password
DefaultDependencies=no
Before=sshd.service systemd-user-sessions.service
After=systemd-sysusers.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/mados-set-password
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
