[Unit]
Description=Set mados user password
After=getty@tty1.service
Before=sshd.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/mados-set-password
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
