[Unit]
Description=madOS Wait for GPU Modules
After=systemd-modules-load.service
Before=mados-fb-resolution.service
Before=display-manager.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/mados-gpu-wait.sh
RemainAfterExit=yes
