[Unit]
Description=madOS Persistence Mount
After=mados-ventoy-setup.service local-fs.target
Before=mados-persist-sync.service
Requires=mados-ventoy-setup.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/mados-persist-detect.sh
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
