[Unit]
Description=MadOS Applications Update Timer
Requires=mados-apps-update.service
After=network-online.target

[Timer]
OnBootSec=2min
OnUnitActiveSec=6h
Unit=mados-apps-update.service

[Install]
WantedBy=timers.target