[Unit]
Description=madOS Post-Install Package Manager
After=display-manager.service network-online.service greetd.service
Wants=network-online.service
ConditionPathExists=!/home/mados/.config/mados/post-install-done

[Service]
Type=oneshot
User=root
Environment=DISPLAY=:0
ExecStart=/usr/local/bin/mados-post-install
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
