[Unit]
Description=mados-updater check for updates
Documentation=https://github.com/madkoding/mados-updater

[Service]
Type=oneshot
ExecStart=/usr/local/bin/mados-updater --check
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
