[Unit]
Description=Rootkit Hunter Database Update
After=network-online.target
ConditionPathExists=!/run/archiso
RefuseManualStart=yes

[Service]
Type=oneshot
ExecStart=/usr/bin/rkhunter --update --propupd
StandardOutput=journal
StandardError=journal
TimeoutSec=120
RemainAfterExit=yes
