[Unit]
Description=Rootkit Hunter Daily Scan
After=network-online.target
Requires=rkhunter-init.service
After=rkhunter-init.service

[Service]
Type=oneshot
ExecStart=/usr/bin/rkhunter --check --cronjob --report-warnings-only
StandardOutput=journal
StandardError=journal
