[Unit]
Description=Uncomplicated Firewall
Documentation=man:ufw(8)
After=network-pre.target load-iptables-modules.service
Before=network.target
Wants=network-pre.target load-iptables-modules.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/ufw --force enable
ExecStop=/usr/bin/ufw disable
ExecReload=/usr/bin/ufw reload
RuntimeDirectory=ufw
RuntimeDirectoryMode=0755

[Install]
WantedBy=multi-user.target