[Unit]
Description=Detect VMware and configure vmwgfx driver
DefaultDependencies=no
Before=sysinit.target
After=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/vmwgfx-detector
StandardOutput=null
StandardError=null

[Install]
WantedBy=sysinit.target
