[Desktop Entry]
Type=Application
Name=madOS Installer
Exec=sudo /usr/local/bin/mados-installer-autostart
X-GNOME-Autostart-enabled=false
Hidden=true
X-Systemd-After=graphical.target
