  LABEL arch
  TEXT HELP
  Boot madOS Live environment with Sway compositor.
  Includes the madOS installer for system installation.
  ENDTEXT
  MENU LABEL madOS Live (%ARCH%, BIOS)
  LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux-mados
  INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux-mados.img
  APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% cow_spacesize=256M console=ttyS0,115200 earlyprintk=serial loglevel=7 floppy=0

  LABEL arch-persist
  TEXT HELP
  Boot madOS Live with persistence. Requires a partition labeled 'mados-persist'.
  ENDTEXT
  MENU LABEL madOS Live with Persistence (%ARCH%, BIOS)
  LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux-mados
  INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux-mados.img
  APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% cow_label=mados-persist console=ttyS0,115200 earlyprintk=serial loglevel=7 floppy=0

  # Safe graphics boot option
  LABEL archsafe
  TEXT HELP
  Boot madOS Live with safe graphics mode (nomodeset).
  Use this if you have display problems with the default option.
  ENDTEXT
  MENU LABEL madOS Live (Safe Graphics) (%ARCH%, BIOS)
  LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux-mados
  INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux-mados.img
  APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% cow_spacesize=256M nomodeset console=ttyS0,115200 earlyprintk=serial loglevel=7 floppy=0
